header.header
    div.header__column 
        a(href=routes.home)
            i.fas.fa-video
    .header__column
        form(action=routes.search, method="get" )
            input(type="text" placeholder="Search ..." name="term")
    .header__column
        ul
            li
                a(href=routes.join) Join
            li
                a(href=routes.login) Log in
            