.social-login
    button.social-login--github
        a(href=routes.github)
            span
                i.fab.fa-github
            | Continue with Github
    button.social-login--facebook
        a(href=routes.facebook)
            span
                i.fab.fa-facebook
            | Countinue with Facebook
    button.social-login--google
        span
            i.fab.fa-google
        | Countinue with Google
