doctype html
html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    title Page Title
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel="stylesheet", href="../../static/style.css")
  body
    figure.snip1344
      img.background(src='https://s3-us-west-2.amazonaws.com/s.cdpn.io/331810/profile-sample1.jpg', alt='profile-sample1')
      img.profile(src='https://s3-us-west-2.amazonaws.com/s.cdpn.io/331810/profile-sample1.jpg', alt='profile-sample1')
      figcaption
        h3
          | Ursula Gurnmeister
          span Engineer
        .icons
          a(href='#')
            i.ion-social-reddit-outline
              button 
   