doctype html
html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    title Page Title
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel="stylesheet", href="../../static/style.css")
  body
    each users in user
      if users.email !== "doscm164@naver.com" && !users.authApply
        figure.snip1344
          img.background(src=users.avatarUrl)
          img.profile(src=users.avatarUrl)
          figcaption
            h3
              | #{users.email}
              span #{users.name}
            .icons
              a(href='#')
                i.ion-social-reddit-outline
                  button false