extends layouts/main

block content
    #clouds
      .cloud.x1
      .cloud.x1_5
      .cloud.x2
      .cloud.x3
      .cloud.x4
      .cloud.x5
    .c
      ._404 404
      hr
      ._1 NULL
      ._2 SAFETY ZONE
      a.btn(href='http://warning.or.kr/') GO TO THE HELL


