.video-detail__container {
  display: flex;
  flex-direction: column;

  p {
    margin: 0 0 1em;
  }

  .comment {
    overflow: hidden;
    padding: 0 0 1em;
    border-bottom: 1px solid #ddd;
    margin: 0 0 1em;
    *zoom: 1;
  }

  .comment-img {
    float: left;
    margin-right: 33px;
    border-radius: 5px;
    overflow: hidden;
  }

  .comment-img img {
    display: block;
  }

  .comment-body {
    overflow: hidden;
  }

  .comment .text {
    padding: 10px;
    border: 1px solid #e5e5e5;
    border-radius: 5px;
    background: #fff;
  }

  .comment .text p:last-child {
    margin: 0;
  }

  .comment .attribution {
    margin: 0.5em 0 0;
    font-size: 14px;
    color: #666;
  }

  /* Decoration */

  .comments,
  .comment {
    position: relative;
  }

  .comments:before,
  .comment:before,
  .comment .text:before {
    content: "";
    position: absolute;
    top: 0;
    left: 65px;
  }

  .comments:before {
    width: 3px;
    top: -20px;
    bottom: -20px;
    background: rgba(0, 0, 0, 0.1);
  }

  .comment:before {
    width: 9px;
    height: 9px;
    border: 3px solid #fff;
    border-radius: 100px;
    margin: 16px 0 0 -6px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2), inset 0 1px 1px rgba(0, 0, 0, 0.1);
    background: #ccc;
  }

  .comment:hover:before {
    background: orange;
  }

  .comment .text:before {
    top: 18px;
    left: 78px;
    width: 9px;
    height: 9px;
    border-width: 0 0 1px 1px;
    border-style: solid;
    border-color: #e5e5e5;
    background: #fff;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
  }
  ​ .video__player {
    video {
      padding: 180px;
      padding-top: 25px;
      padding-bottom: 15px;
      max-width: 100%;
    }
  }
  .video__info {
    position: relative;
    right: -20px;
    width: 100%;
    max-width: 80em;
    margin-top: 25px;
    button {
      width: 100px;
      margin-bottom: 25px;
    }
    .video__title,
    .video__views,
    .video__description {
      display: block;
      margin-bottom: 15px;
    }
    .video__title {
      font-size: 30px;
      font-weight: 300;
    }
    .video__views {
      color: gray;
      font-size: 14px;
    }
    .video__description {
      padding-top: 10px;
      font-size: 16px;
    }
    .video__author {
      padding-bottom: 10px;
      a {
        color: $red;
      }
    }
  }
  .video__comments {
    position: relative;
    right: -20px;
    margin-top: 25px;
    .video__comment-number {
      font-size: 18px;
    }
  }
  .video__comments-list {
    margin-top: 50px;
    li {
      background-color: #3498db;
      color: white;
      padding: 15px;
      border-radius: 20px;
      border-bottom-left-radius: 0px;
      &:not(:last-child) {
        margin-bottom: 15px;
      }
    }
  }
  /**
*Those Vars
*/
  $page-bg: #282f32;
  $light-blue: #3599ff;
  $bright-blue: #68b3ff;
  $light-gray: #999;
  //$curve: cubic-bezier(0, 0, 0.52, 1.11);
  $curve: linear;

  .form {
    display: block;
    position: relative;
    right: -20px;
    text-align: left;
    margin-top: 1em;

    label {
      display: block;
      text-align: left;
      color: black;
      font-size: 0.875em;
    }

    form {
      display: block;
      .text-input {
        overflow: hidden;
        margin-bottom: 0.875em;
      }

      input[type="text"] {
        width: 100%;
        padding: 1em 0 12px;
        padding-left: 0;
        background: none;
        color: black;
        font-size: 1.2em;
        font-weight: 400;
        border: none;
        border-bottom: 1px solid $light-gray;

        /*Some sibling magic happens */
        &:focus + .separator {
          transform: scaleX(1) translateY(-2px);
          opacity: 1;
        }
      }
    }
  }

  .separator {
    height: 3px;
    width: 27%;
    background: $bright-blue;
    display: block;
    transform: scaleX(0) translateY(-2px);
    transform-origin: 50%;
    opacity: 0;
    transition: all 0.15s $curve;
  }

  /**
* Form Reset - remove focus highlighting
*/

  * :focus {
    outline-color: transparent;
    outline-style: none;
  }

  body {
    font-family: Roboto;
    background: $page-bg;

    a {
      color: $light-blue;
      font-size: 1em;
      text-decoration: none;
    }
  }

  .form-bottom {
    margin-top: 1.25em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}
